@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Josefin+Sans:wght@500&family=Open+Sans:wght@700&family=Oswald:wght@600&family=Poppins:wght@700&family=Work+Sans&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --theme: rgb(4, 171, 255);
  --them-dark: rgb(4, 149, 221);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: var(--theme);
  font-family: "Work Sans", sans-serif;
  padding: 20px;
}
h1{
    font-size: 2rem;
}
h1 a{
    text-decoration:none;
    color: var(--theme);
}
.container {
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background: #ffff;
  max-width: 100%;
  width: 800px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.381);
}

.joke {
  color: black;
  font-weight: 500;
  line-height: 40px;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 50px auto;
}
.btn {
  background-color: var(--theme);
  color: #ffff;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 12px 25px #37363661;
  font-weight: 800;
  line-height: 25px;
  padding: 14px 40px;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}
.btn:hover {
  background-color: var(--them-dark);
  box-shadow: 0 8px 25px #37363661;
}
.btn:active{
    transform: scale(0.90);
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
}
.btn:focus{
    outline: 0;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #ffffff;
    border-top: 7px solid var(--theme);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   text-align: center;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
0%{
    transform: rotate(0deg);

}
100%{
    transform: rotate(360deg);

}
}